@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#group1 {
    background-image: url(./group1/design/Rectangle\ \(1\).png);
    width: 100%;
}

p {
    margin: 0px;
}

h5 {
    margin-top: 30px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999999;
    background-image: url(./group1/design/Rectangle\ \(1\).png);
    padding: 0px;
}

#logo {
    width: 15%;
    margin-left: 20px;
}

.MENU1 {
    float: right;
    display: flex;
    flex-direction: column;
    margin: 20px;
}


/* .MENU {} */

.phone {
    float: left;
    text-align: right;
    padding-right: 10px;
}

.introduce {
    position: absolute;
    top: 120px;
    padding: 30px;
    padding-top: 100px;
    background-image: url(./group1/design/Rectangle\ \(1\).png);
    width: 100%;
    height: 420px;
    display: flex;
}

#review {
    display: table;
    border-width: 2px;
    border-style: dashed;
    text-align: center;
    padding: 10px !important;
    font-size: 12px;
}

.title {
    width: 100%;
    position: relative;
    float: left;
}

#sub {
    width: 80%;
    box-sizing: border-box;
}

#subT {
    width: 50%;
    margin-top: 0px !important;
    box-sizing: border-box;
}

.title img {
    margin: 20px;
    margin-left: 0px;
    text-align: center;
    width: 100%;
}

.num {
    font-size: 15px;
}

.image {
    position: relative;
    float: left;
}

#img1 {
    position: relative;

}


#img7 {
    background-color: red;
    position: relative;
    left: -380px;
    top: -670px;
    z-index: 990;
    border-radius: 50%;
    float: right;
}

#img7 #circle {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    border: 2px dashed white;
    text-align: center;
}

#group2 {
    display: flex;
    flex-direction: row;
    margin-top: 180px !important;
    margin: 50px;
    height: 300px;
    justify-content: center;
    /* position: relative; */
}

.left {
    width: 45%;
    position: relative;
}

.left img {
    width: 500px;
}

.contain {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.right1 {
    margin-bottom: 35px;
    position: relative;
}

.right2 {
    position: relative;
}

.right1 img {
    width: 500px;
}

.right2 img {
    width: 500px;
}

.text {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headT {
    height: auto;
    width: 16%;
    background-color: orange;
    text-align: center;
    margin-top: 50px;
}

.choose1 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose3 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#order {
    width: 40%;
    background-color: #cc1818;
    color: white;
    border-style: none;
    margin-top: 40px;
}

.slider {
    background-color: white;
    border: 1px solid white;
    box-shadow: 9px 8px 12px 6px rgba(0, 0, 0, 0.26);
    margin: 5%;
    overflow: hidden;
}

.slider .slide {
    display: flex;
}

.slider .slide .gr4l {
    width: 50%;
    margin: 40px;
}

.slider .slide .gr4r {
    width: 50%;
    margin: 20px;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-nav {
    display: none;
}

.owl-dots {
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.owl-dots .owl-dot {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}

#group5 {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    padding-bottom: 10%;
}

#group5 .container {
    width: 80%;
    position: relative;
}

.imgFood #img1 {
    position: absolute;
    margin-left: -320px;
    margin-top: -50px;
}

.imgFood #img2 {
    position: absolute;
    margin-left: -100px;
    margin-top: 150px;
}

.imgFood #img3 {
    position: absolute;
    margin-left: 1220px;
    margin-top: 150px;
}

.form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

.form button {
    width: 268px;
    border-radius: 3px;
    border: 1px solid;
    padding: 5px;
    color: white;
    margin: 20px;
}

.form div input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid;
    margin: 20px;
    width: 60%;
}

#group6 {
    width: 98%;
    margin: 1%;
    overflow: hidden;
}

#imgEnd .imgend {
    width: 98%;
    margin: 1%;
    height: auto;
    /* border-radius: 1px; */
    background-size: cover;
    display: block;
    position: relative;
}

#imgEnd {
    position: relative;
}

#imgEnd .logo {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50px;
}

#imgEnd .logo img {
    width: 200px;
}

#imgEnd .textend {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 35%;
    color: white;
}

#imgEnd .company {
    position: absolute;
    bottom: 30px;
    left: 50px;
    width: 35%;
    color: white;
}

#imgEnd .info {
    position: absolute;
    bottom: 250px;
    left: 850px;
    width: 35%;
    color: white;
}

#imgEnd .info p {
    margin-left: 20px;
}

#imgEnd .info div {
    display: flex;
    flex-direction: row;
}

#imgEnd .icon {
    position: absolute;
    bottom: 15px;
    left: 1000px;
    color: black;
    display: flex;
    margin: 10px;
}

#imgEnd .icon div {
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    width: 30px;
    display: flex;
    justify-content: center;
}