@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#group1 {
    background-image: url(./group1/design/Rectangle\ \(1\).png);
    width: 100%;
}

p {
    margin: 0px;
}

.nav {
    overflow: hidden;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999999;
    background-image: url(./group1/design/Rectangle\ \(1\).png);
    padding: 0px;
    display: flex;
}

.phone img {
    width: 8%;
}

.phone span {
    font-size: 80%;
}

#logo {
    width: 15%;
    margin: 3%;
}

.MENU {
    font-size: 70%;
    position: relative;
}

.MENU #mobie {
    position: absolute;
    bottom: 1000%;
}

.MENU1 {
    display: flex;
    flex-direction: column;
    margin: 20px;
}


/* .MENU {} */

.phone {
    text-align: right;
    padding-right: 15px;
}

.introduce {
    position: relative;
    top: 120px;
    padding: 30px;
    padding-top: 0;
    background-image: url(./group1/design/Rectangle\ \(1\).png);
    width: 100%;
    display: flex;
    height: 500px;
    overflow: hidden;
}

.image {
    position: relative;
    flex: 1;
}

.image img {
    width: 650px;
    position: relative;
    top: -40%;
    left: 10%;
}

.title {
    width: 100%;
    position: relative;
    flex: 0.7;
    margin-top: 50px;
}

#review {
    width: 80%;
    display: table;
    border-width: 2px;
    border-style: dashed;
    text-align: center;
    padding: 10px !important;
    font-size: 10px;
}

#sub {
    width: 60%;
    box-sizing: border-box;
}

#sub h1 {
    font-size: 100px;
    font-weight: 1000;
    color: #290909;
    text-shadow: 2px 2px 2px #fff;
    margin: 0px;
}

#subT h1 {
    font-size: 70px;
    font-weight: 1000;
    color: #290909;
    text-shadow: 2px 2px 2px #fff;
}

#subT {
    width: 30%;
    margin-top: 0px !important;
    box-sizing: border-box;
}

#subT {
    margin-top: 0px;
}

.num {
    font-size: 15px;
}

#img1 {
    position: relative;
}

#img7 {
    background-color: red;
    position: absolute;
    left: 30%;
    top: 54%;
    z-index: 990;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

#img7 #circle {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    border: 2px dashed white;
    text-align: center;
    width: 80px;
    height: 80px;
    font-size: 11px;
    color: white;
}

#group2 {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    /* position: relative; */
}

.left {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.left img {
    width: 90%;
}

.contain {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    margin-left: 10%;
    font-size: 10px;
}

.contain h6 {
    font-weight: 900;
    margin: 0px;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.right .contain {
    margin-left: 6%;
}

.right2 .contain {
    margin-top: 4%;
}

.right1 {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.right2 {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.right1 img {
    width: 90%;
}

.right2 img {
    width: 90%;
}

.text {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headT {
    height: auto;
    width: 16%;
    background-color: orange;
    text-align: center;
    margin-top: 50px;
}

.headT p {
    font-size: 11px;
    font-weight: 900;
    padding: 5px;
}

#group3 h1 {
    margin-top: 20px;
    font-weight: 1000;
    color: #290909;
}

#group3 .choose p {
    font-size: 14px;
}

#group3 .choose button {
    width: 50%;
    font-size: 14px;
    font-weight: 900;
    padding: 10px;
}

#group3 .text #content {
    width: 80%;
    font-size: 14px;
}

.choose1 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose3 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#order {
    width: 40%;
    background-color: #cc1818;
    color: white;
    border-style: none;
    margin-top: 40px;
}

.slider {
    background-color: white;
    border: 1px solid white;
    box-shadow: 9px 8px 12px 6px rgba(0, 0, 0, 0.26);
    margin: 5%;
    overflow: hidden;
}

.slider .slide {
    display: flex;
}

.slider .slide .gr4l {
    width: 50%;
    margin: 40px;
}

.slider .slide .gr4r {
    width: 70%;
    margin: 20px;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-nav {
    display: none;
}

.owl-dots {
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: 60px;
    /* background-color: red;s */
    display: flex;
    justify-content: space-between;
}

.owl-dots .owl-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.owl-carousel button.owl-dot {
    background-color: darkgrey !important;
}

.owl-carousel button.owl-dot .active {
    background-color: orange;
}

.gr4l h3 {
    margin-bottom: 0px;
    font-size: 15px;
}

.gr4l h1 {
    font-size: 30px;
    font-weight: 1000;
    color: #290909;
}

.gr4l p {
    font-size: 14px;
}

#group5 {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    padding-bottom: 10%;
}

#group5 .container {
    width: 80%;
    position: relative;
}

.imgFood #img1 {
    left: -6%;
    position: absolute;
    width: 100%;
    top: -10%;
}

.imgFood #img1 img {
    width: 30%;
}

.imgFood #img2 {
    position: absolute;
    width: 120%;
    left: 9%;
    top: 25%;
}

.imgFood #img2 img {
    width: 15%;
}

.imgFood #img3 {
    position: absolute;
    width: 90%;
    left: 80%;
    top: 27%;
}

.imgFood #img3 img {
    width: 40%;
}

.form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

.form button {
    width: 60%;
    border-radius: 3px;
    border: 1px solid;
    padding: 5px;
    color: white;
    margin: 20px;
}

.form div input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid;
    margin: 20px;
    width: 60%;
}

#group6 {
    width: 98%;
    margin: 1%;
    overflow: hidden;
}

#imgEnd .imgend {
    width: 98%;
    margin: 1%;
    height: auto;
    /* border-radius: 1px; */
    background-size: cover;
    display: block;
    position: relative;
}

#imgEnd {
    position: relative;
}

#imgEnd .logo {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100%;
}

#imgEnd .logo img {
    width: 20%;
}

#imgEnd .textend {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 35%;
    color: white;
}

#imgEnd .company {
    position: absolute;
    bottom: 30px;
    left: 50px;
    width: 35%;
    color: white;
}

#imgEnd .info {
    position: absolute;
    top: 45%;
    right: 0%;
    width: 35%;
    color: white;
}

#imgEnd .info p {
    margin-left: 20px;
}

#imgEnd .info div {
    display: flex;
    flex-direction: row;
}

#imgEnd .icon {
    position: absolute;
    bottom: 0%;
    right: 0%;
    color: black;
    display: flex;
    margin: 10px;
}

.info i {
    min-width: 25px;
    font-size: 24px !important;
}

#imgEnd .icon div {
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 787px) {
    body {
        width: 100%;
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 999999;
        background-image: url(./group1/design/Rectangle\ \(1\).png);
        padding: 0px;
        display: flex;
        max-width: 768px;
    }
    .phone img {
        width: 7%;
    }
    .phone span {
        font-size: 80%;
    }
    #logo {
        width: 20%;
        margin-left: 20px;
    }
    .MENU {
        position: relative;
        font-size: 70%;
    }
    .MENU #mobie {
        position: absolute;
        bottom: 1000%;
    }
    .MENU1 {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .phone {
        text-align: right;
        padding-right: 15px;
    }
    .introduce {
        position: relative;
        top: 120px;
        padding: 30px;
        padding-top: 0;
        background-image: url(./group1/design/Rectangle\ \(1\).png);
        width: 100%;
        display: flex;
        height: 500px;
        overflow: hidden;
    }
    .image {
        position: relative;
        flex: 1;
    }
    .image img {
        width: 170%;
        position: relative;
        top: -46%;
        left: -21%;
    }
    .title {
        width: 100%;
        position: relative;
        flex: 0.7;
        margin-top: 50px;
    }
    #review {
        width: 75%;
        display: table;
        border-width: 2px;
        border-style: dashed;
        text-align: center;
        padding: 6px !important;
        font-size: 8px;
        font-weight: 900;
    }
    #sub {
        margin-top: 0px !important;
        box-sizing: border-box;
        width: 100%;
    }
    #subT {
        margin-top: 0px;
    }
    #sub h1 {
        font-size: 70px;
        font-weight: 1000;
        color: #290909;
        text-shadow: 2px 2px 2px #fff;
        margin: 0px;
    }
    #subT h1 {
        font-size: 50px;
        font-weight: 1000;
        color: #290909;
        margin-top: -15px;
        text-shadow: 2px 2px 2px #fff;
    }
    .num {
        font-size: 15px;
    }
    #img1 {
        position: relative;
    }
    #img7 {
        background-color: red;
        position: absolute;
        left: 13%;
        top: 51%;
        z-index: 990;
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    #img7 #circle {
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        border: 2px dashed white;
        text-align: center;
        width: 80px;
        height: 80px;
        font-size: 11px;
        color: white;
    }
    #group2 {
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 50px;
        justify-content: center;
    }
    .left {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .left img {
        width: 90%;
    }
    .contain {
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        margin-left: 10%;
        font-weight: 900;
        font-size: 14px;
    }
    .contain p {
        font-size: 9px;
    }
    .contain h6 {
        font-weight: 900;
        font-size: 14px;
    }
    .right {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1;
    }
    .right .contain {
        margin-left: 6% !important;
    }
    .right1 {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .right2 {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .right2 .contain {
        margin-top: 3%;
    }
    ;
    .right1 img {
        width: 90%;
    }
    .right2 img {
        width: 90%;
    }
    .right .contain {
        margin-left: 0;
    }
    .text {
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .headT {
        height: auto;
        width: 16%;
        background-color: orange;
        text-align: center;
        margin-top: 50px;
    }
    .headT p {
        font-size: 8px;
        font-weight: 900;
        padding: 7px 9px;
        color: #290909;
    }
    #group3 .text #content {
        margin: 0pc 100px;
        width: 80%;
        font-size: 65%;
    }
    #group3 h5 {
        text-align: center;
        color: #290909;
        font-size: 12px;
        font-weight: 900;
    }
    #group3 .choose p {
        font-size: 10px;
        color: #290909;
    }
    #group3 .choose button {
        width: 55%;
        font-size: 13px;
        font-weight: 900;
        padding: 6px 10px;
    }
    .choose #div1 {
        width: 75%;
    }
    .choose1 {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .choose2 {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .choose3 {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #order {
        width: 60%;
        background-color: #cc1818;
        color: white;
        border-style: none;
        margin-top: 40px;
        font-size: 12px;
        padding: 10px;
    }
    .slider {
        background-color: white;
        border: 1px solid white;
        box-shadow: 9px 8px 12px 6px rgba(0, 0, 0, 0.26);
        margin: 5%;
        overflow: hidden;
    }
    .slider .slide {
        display: flex;
    }
    .slider .slide .gr4l {
        width: 50%;
        margin: 40px;
    }
    .slider .slide .gr4r {
        width: 80%;
        margin: 20px;
    }
    .owl-carousel {
        position: relative;
    }
    .owl-carousel .owl-nav {
        display: none;
    }
    .owl-dots {
        position: absolute;
        bottom: 50px;
        left: 40px;
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
    .owl-dots .owl-dot {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
    }
    .owl-carousel button.owl-dot .active {
        background-color: orange !important;
        height: 20px;
        width: 20px;
    }
    .owl-carousel button.owl-dot {
        background-color: darkgrey !important;
        height: 20px;
        width: 20px;
    }
    #group5 {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 5%;
        padding-bottom: 10%;
    }
    #group5 .container {
        width: 80%;
        position: relative;
    }
    .imgFood #img1 {
        position: absolute;
        top: -3%;
    }
    .imgFood #img2 {
        position: absolute;
        width: 160%;
        left: 6%;
        top: 23%;
    }
    .imgFood #img3 {
        position: absolute;
    }
    .form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10%;
    }
    .form .gr5l {
        width: 50%;
    }
    .form .gr5r {
        width: 50%;
    }
    .form button {
        width: 60%;
        border-radius: 3px;
        border: 1px solid;
        padding: 5px;
        color: white;
        margin: 20px;
    }
    .form div input {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid;
        margin: 20px;
        width: 60%;
    }
    .gr4l h3 {
        margin-bottom: 0px;
        font-size: 8px;
    }
    .gr4l h1 {
        font-size: 10px;
    }
    .gr4l p {
        font-size: 10px;
    }
    #group6 {
        width: 98%;
        margin: 1%;
        overflow: hidden;
    }
    #imgEnd .imgend {
        width: 98%;
        margin: 1%;
        height: auto;
        /* border-radius: 1px; */
        background-size: cover;
        display: block;
        position: relative;
    }
    #imgEnd {
        position: relative;
    }
    #imgEnd .logo {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 100%;
    }
    #imgEnd .logo img {
        width: 20%;
    }
    #imgEnd .textend {
        position: absolute;
        top: 33%;
        left: 7%;
        width: 50%;
        color: white;
    }
    #imgEnd .company {
        position: absolute;
        bottom: 5%;
        left: 7%;
        width: 20%;
        color: white;
        font-size: 48%;
    }
    #imgEnd .info {
        position: absolute;
        top: 40%;
        right: 0%;
        width: 35%;
        color: white;
        font-size: 60%;
    }
    .info i {
        min-width: 25px;
        font-size: 24px !important;
    }
    #imgEnd .info p {
        margin-left: 20px;
    }
    #imgEnd .info div {
        display: flex;
        flex-direction: row;
    }
    #imgEnd .icon {
        position: absolute;
        bottom: 0%;
        right: 0%;
        color: black;
        display: flex;
        margin: 10px;
    }
    #imgEnd .icon div {
        border-radius: 50%;
        background-color: white;
        margin: 10px;
        width: 20px;
        display: flex;
        justify-content: center;
    }
    .textend p {
        font-size: 80%;
    }
}

@media only screen and (max-width: 321px) {
    body {
        width: 100%;
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
    #group1 {
        background-image: url(./group1/design/Rectangle\ \(1\).png);
        width: 100%;
        max-width: 320px;
        overflow: hidden;
    }
    #group1 .nav {
        height: 300px;
    }
    .MENU .nav {
        width: 0%;
        height: 0%;
    }
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 999999;
        background-image: url(./group1/design/Rectangle\ \(1\).png);
        padding: 0px;
        max-width: 320px;
        display: flex;
        height: 100px;
    }
    .phone img {
        width: 7%;
    }
    .phone span {
        font-size: 50%;
    }
    #logo {
        position: absolute;
        top: 15px;
        width: 20%;
        margin-left: 20px;
    }
    .MENU {
        font-size: 70%;
        position: relative;
        height: 50px;
    }
    .MENU #mobie {
        position: absolute;
        top: -90%;
        right: -7%;
    }
    @keyframes bugfix {
        from {
            padding: 0;
        }
        to {
            padding: 0;
        }
    }
    @-webkit-keyframes bugfix {
        from {
            padding: 0;
        }
        to {
            padding: 0;
        }
    }
    #overlay-button {
        position: absolute;
        right: 2em;
        top: 3em;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
    }
    #overlay-button span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: white;
        position: relative;
        display: block;
        transition: all .2s ease-in-out;
    }
    #overlay-button span:before {
        top: -10px;
        visibility: visible;
    }
    #overlay-button span:after {
        top: 10px;
    }
    #overlay-button span:before,
    #overlay-button span:after {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: white;
        position: absolute;
        content: "";
        transition: all .2s ease-in-out;
    }
    #overlay-button:hover span,
    #overlay-button:hover span:before,
    #overlay-button:hover span:after {
        background: #333332;
    }
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox]:checked~#overlay {
        visibility: visible;
    }
    input[type=checkbox]:checked~#overlay-button:hover span,
    input[type=checkbox]:checked~#overlay-button span {
        background: transparent;
    }
    input[type=checkbox]:checked~#overlay-button span:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
    }
    input[type=checkbox]:checked~#overlay-button span:after {
        transform: rotate(-45deg) translate(7px, -7px);
    }
    #overlay {
        width: 320px;
        background: #ec6451;
        z-index: 99999999;
        visibility: hidden;
    }
    #overlay.active {
        visibility: visible;
    }
    #overlay ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        padding-left: 0;
        list-style-type: none;
    }
    #overlay ul li {
        padding: 1em;
    }
    #overlay ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
    }
    #overlay ul li a:hover {
        color: #333332;
    }
    .MENU1 {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .phone {
        text-align: right;
        padding-right: 15px;
    }
    .introduce {
        position: relative;
        top: 50px;
        padding: 30px;
        padding-top: 0px;
        background-image: url(./group1/design/Rectangle\ \(1\).png);
        width: 100%;
        display: flex;
        /* height: 400px; */
        overflow: hidden;
    }
    .image {
        position: relative;
        flex: 1;
    }
    .image img {
        width: 130%;
        position: relative;
        top: -5%;
        left: 0%;
    }
    .title {
        width: 100%;
        position: relative;
        flex: 0.7;
        margin-top: 120px;
    }
    #review {
        width: 80%;
        display: table;
        border-width: 2px;
        border-style: dashed;
        text-align: center;
        padding: 2px !important;
    }
    #sub {
        margin-top: 0px !important;
        box-sizing: border-box;
        width: 100%;
    }
    #subT {
        margin-top: 0px;
    }
    #sub h1 {
        font-size: 25px;
        font-weight: 1000;
        color: #290909;
        text-shadow: 2px 2px 2px #fff;
        margin: 0px;
    }
    .image img {
        width: 210%;
        position: relative;
        top: -11%;
        left: -40%;
    }
    #subT h1 {
        font-size: 19px;
        font-weight: 1000;
        color: #290909;
        margin-top: -5px;
        text-shadow: 2px 2px 2px #fff;
    }
    .num {
        font-size: 6px;
    }
    #img1 {
        position: relative;
    }
    #img7 {
        width: 50px;
        height: 50px;
        top: 36%;
        left: 5%;
    }
    #img7 #circle {
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        border: 2px dashed white;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 5px;
        color: white;
    }
    #img7 #circle h3 {
        margin-top: 5px;
        font-size: 12px;
        margin-bottom: 2px;
    }
    #group2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-top: 50px;
    }
    #group2 p {
        font-size: 60%;
    }
    #group2 h5 {
        font-size: 90%;
    }
    .left {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px 0px;
    }
    .left img {
        width: 80%;
    }
    .contain {
        position: absolute;
        top: 20px;
        left: 10px;
        color: white;
        margin-left: 10%;
    }
    .right {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        padding: 10px 0px;
    }
    .right1 {
        position: relative;
        padding: 0px 0px 10px 0px;
    }
    .right2 {
        position: relative;
    }
    .right1 img {
        width: 80%;
    }
    .right2 img {
        width: 80%;
    }
    .right .contain {
        padding-left: 4%;
        margin-top: -3%;
    }
    .text {
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .headT {
        height: auto;
        width: 50%;
        background-color: orange;
        text-align: center;
        margin-top: 50px;
    }
    #group3 h1 {
        margin-top: 20px;
        font-weight: 1000;
        color: #290909;
    }
    #group3 .choose p {
        font-size: 14px;
    }
    #group3 .choose {
        flex-direction: column;
    }
    #group3 .choose button {
        width: 50%;
        font-size: 14px;
        font-weight: 900;
        padding: 10px;
    }
    #group3 .text #content {
        width: 85%;
        font-size: 15px;
        margin: 10px;
    }
    .choose1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .choose2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .choose3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #order {
        width: 80%;
        background-color: #cc1818;
        color: white;
        border-style: none;
        margin-top: 40px;
    }
    .slider {
        background-color: white;
        border: 1px solid white;
        box-shadow: 9px 8px 12px 6px rgba(0, 0, 0, 0.26);
        margin: 5%;
        overflow: hidden;
    }
    .slider .slide {
        display: flex;
    }
    .slider .slide .gr4l {
        width: 25%;
        margin: 15px;
    }
    .slider .slide .gr4r {
        width: 60%;
        margin: 20px;
    }
    .owl-carousel {
        position: relative;
    }
    .owl-carousel .owl-nav {
        display: none;
    }
    .owl-dots {
        position: absolute;
        bottom: 12px;
        left: 15px;
        height: 10px;
        width: 50px;
        display: flex;
        justify-content: space-between;
    }
    .owl-dots .owl-dot {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
    }
    .owl-carousel button.owl-dot {
        background-color: darkgrey !important;
        height: 10px;
        width: 10px;
    }
    .owl-carousel button.owl-dot .active {
        background-color: orange !important;
        height: 10px;
        width: 10px;
    }
    .gr4l p {
        font-size: 4px;
    }
    #group5 {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 5%;
        padding-bottom: 10%;
    }
    #group5 .container {
        width: 80%;
        position: relative;
    }
    .imgFood #img1 {
        position: absolute;
        top: 5%;
    }
    .imgFood #img2 {
        position: absolute;
    }
    .imgFood #img3 {
        position: absolute;
    }
    .form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10%;
        flex-direction: column;
        align-items: baseline;
    }
    .form .gr5l {
        width: 120%;
    }
    .form .gr5r {
        width: 120%;
    }
    .form button {
        width: 60%;
        border-radius: 3px;
        border: 1px solid;
        padding: 5px;
        color: white;
        margin: 20px;
        font-size: 50%;
    }
    .form div input {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid;
        margin: 20px;
        width: 60%;
    }
    #group6 {
        width: 98%;
        margin: 1%;
        overflow: hidden;
    }
    #imgEnd .imgend {
        width: 98%;
        margin: 1%;
        height: auto;
        /* border-radius: 1px; */
        background-size: cover;
        display: block;
        position: relative;
    }
    #imgEnd {
        position: relative;
    }
    #imgEnd .logo {
        max-width: 100px;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
    }
    #imgEnd .logo img {
        width: 60%;
    }
    #imgEnd .textend {
        position: absolute;
        top: 33%;
        left: 7%;
        width: 40%;
        color: white;
        font-size: 45%;
    }
    #imgEnd .company {
        position: absolute;
        bottom: 5%;
        left: 10px;
        width: 20%;
        color: white;
        font-size: 30%;
    }
    #imgEnd .info {
        position: absolute;
        top: 40%;
        right: 2%;
        width: 35%;
        color: white;
        font-size: 30%;
        max-width: 100px;
    }
    .info i {
        min-width: 25px;
        font-size: 10px !important;
    }
    #imgEnd .info p {
        margin-left: 20px;
    }
    #imgEnd .info div {
        display: flex;
        flex-direction: row;
    }
    #imgEnd .icon {
        position: absolute;
        bottom: -10%;
        right: 0%;
        color: black;
        display: flex;
        margin: 10px;
        height: 30px;
        margin-right: 0px;
    }
    #imgEnd .icon div {
        border-radius: 50%;
        background-color: white;
        margin: 10px;
        width: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textend p {
        font-size: 80%;
    }
    .icon1 i {
        font-size: 10px;
    }
    .icon2 i {
        font-size: 10px;
    }
    .icon3 i {
        font-size: 10px;
    }
    .icon4 i {
        font-size: 10px;
    }
}